<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>musicOn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }

    </style>
</head>
<body style="background-color: #3D66B8;">

<div class="jumbotron text-center" style="margin-bottom:0px;" th:style="'background: url(/img/gig.jpg) center fixed;'">
    <h1 style="color: white;">musicOn</h1>
    <p></p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand " href="#" th:href="@{/home}" style="font-size:32px;">Gig Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
    </div>
    <div sec:authorize="isFullyAuthenticated()" style="color: aliceblue">
        User: <span sec:authentication="name"></span>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')" style="color: aliceblue">


        <form action="#" th:action="@{/admin}"
              method="GET">

            <input type="submit" value="Admin Panel" class="btn btn-outline-primary mt-2" />

        </form>

    </div>
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>
</nav>

<div class="container-fluid" style="margin-top:30px">
    <div class="row ">



        <div class="col-lg-12 col-sm-3">
                <div th:if="${deleteMessage}">
                    <p th:text="${deleteMessage}"></p>
                </div>


            <table class="table table-dark table-bordered table-hover">

                <thead>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Delete</th>
                <th>Grant Admin Access</th>
                <th>Take away Admin Access</th>
                </thead>

                <tbody>

                <tr th:each="user:${users}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td >
                            <th:block th:each="role:${user.user_roles}" th:text="${role.role_name} + ' | '">

                            </th:block>
                        </td>
                    <td >
                        <th:block th:if="!(${#authentication.getName()}==${user.username})">
                        <a th:href="@{/admin/deleteUser/__${user.username}__}" class ="btn btn-danger">Delete User</a>
                        </th:block>
                    </td>

                    <td>
                        <th:block th:switch="${#lists.size(user.user_roles)}">
                            <a th:case="'1'" th:href="@{/admin/grantAdminAccess/__${user.username}__}" class ="btn btn-danger">Grant Admin Access</a>
                        </th:block>

                    </td>
                    <td>
                        <th:block th:switch="${#lists.size(user.user_roles)}">
                        <a th:case="'2'" th:href="@{/admin/takeAdminAccess/__${user.username}__}" class ="btn btn-danger">Take Admin Access</a>
                        </th:block>
                    </td>


                </tr>

                </tbody>

            </table>


        </div>



        <!--        <div class="col-sm-12">-->
        <!--            <h2>TITLE HEADING</h2>-->
        <!--            <h5>Title description, Dec 7, 2017</h5>-->
        <!--            <div class="fakeimg">Fake Image</div>-->

        <!--            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
        <!--            <br>-->
        <!--            <h2>TITLE HEADING</h2>-->
        <!--            <h5>Title description, Sep 2, 2017</h5>-->
        <!--            <div class="fakeimg">Fake Image</div>-->
        <!--            <p>Some text..</p>-->
        <!--            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>-->
        <!--        </div>-->
    </div>
</div>




<div class="jumbotron text-center" style="margin-bottom:0; max-height: 50px;">
    <p>Footer</p>
</div>

</body>
</html>