<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>musicOn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
        .home-track-div{

            margin-left: 3%;
            margin-right: 5%;
            margin-top: 10px;
            background: #266E73;

        }
    </style>

</head>
<body style=" background: #3D66B8 ">

<div class="jumbotron text-center" style="margin-bottom:0px;" th:style="'background: url(/img/gig.jpg) center fixed;'">
    <h1 style="color: white;">musicOn</h1>
    <p></p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
    <a class="navbar-brand " href="#" th:href="@{/home}" style="font-size:32px;">Gig Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

        </ul>
    </div>
    <div sec:authorize="isFullyAuthenticated()" style="color: aliceblue">
        User: <span sec:authentication="name"></span>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')" style="color: aliceblue">


        <form action="#" th:action="@{/admin}"
              method="GET">

            <input type="submit" value="Admin Panel" class="btn btn-outline-primary mt-2" />

        </form>

    </div>
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>
</nav>

<div class="container-fluid text-center" style="margin-top:30px;">

    <div class="row">
        <div class="col-5"></div>
        <div class="col-4">
        <form th:action="@{/home/search}" method="POST" action="#" class="form-inline" >
            <input  type="text" th:object="${search_phrase}" name="search_phrase" placeholder="Wyszukaj" class="form-control-lg"/>
            <input type="submit" class="btn btn-danger btn-lg" placeholder="Szukaj"/>
        </form>
        </div>
    </div>



    <div class="row mt-2">




                    <div class="card-group col-2 mt-2" th:each="track: ${tracks}">
                        <div class="card">
                            <img class="card-img-top" th:src="${track.artworkUrl100}"  alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${track.getArtistName()}"></h5>
                                <p class="card-text" th:text="${track.getTrackName()}"></p>
                                <p class="card-text"><small class="text-muted" th:text="${track.getCollectionCensoredName()}"></small></p>
                                <a th:href="@{/home/findSong/__${track.trackId}__}" class="btn btn-info">Check Track</a>
                            </div>
                        </div>
                    </div>






    </div>
</div>




<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>

</body>
</html>