<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>musicOn</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body th:style="'background: url(/img/gig.jpg) center fixed;'">


<div class="container-fluid" >

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <form th:action="@{/authenticateTheUser}" method="POST" class="text-center">

                <div class="form-group">
                    <div class="col-xs-15">
                        <div>
                            <div th:if="${param.error}">
                                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    Nieprawidłowa nazwa użytkownika lub hasło
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                    Zostałeś wylogowany
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="text" id="login" name="username"class="fadeIn second"placeholder="Nazwa użytkownika">
                <input type="password" id="password" name="password" class="fadeIn third"  placeholder="Hasła">
                <input type="submit" class="fadeIn fourth form-submit-btn" value="Log In">

                    <a th:href="@{/register/registerForm}" class = "btn btn-outline-primary ml-5">Register</a>
            </form>

        </div>
    </div>s

</div>



<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>
