<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body th:style="'background: url(/img/gig.jpg) center fixed;'">
        <div class="container wrapper fadeInDown" style="background: #3D66B8;">
        <form action = "#" th:action="@{/register/registerUser}" th:object="${newUser}" method="POST" class="form form-group">
            <div class="form-group" >
            <div th:if="${userMsg}">

                <p th:text = "${userMsg}"></p>

            </div>
            <input type = "text" th:field="*{userName}" placeholder="User Name"/>
            <div th:if="${#fields.hasErrors('userName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
                </ul>
            </div>

            <input type = "password" th:field="*{password}" placeholder="Password"/>
                <div th:if="${#fields.hasErrors('password')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                    </ul>
                </div>
            <input type = "password" th:field="*{matchingPassword}" placeholder="Matching Password"/>
                <div th:if="${#fields.hasErrors('matchingPassword')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('matchingPassword')}" th:text=" ${err}" />
                    </ul>
                </div>
            <input type = "text" th:field="*{email}" placeholder="@ Email"/>
                <div th:if="${#fields.hasErrors('email')}"
                     style="margin-bottom: 25px" class="text-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                    </ul>
                </div>
            <input type="submit" class = "btn btn-danger"/>
        </div>
        </form>
        </div>


</body>
</html>